@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');
.last-container{
    height:45vh;
    width:100vw;
    background:#fff;
    font-family: 'Mulish', sans-serif;
    position: absolute;
}
.title-div{
    position:absolute;
    height:30%;
    width:100%;
}
.underline-contact{
    height:1.3px;
    width:150px;
    background:#b40d1a;
    position: absolute;
    top:80%;
    left:50%;
    transform:translate(-50%,-50%); 
}
.contact-info{
    height:70%;
    position:absolute;
    width:100%;
    top:30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-div{
    position: absolute;
    height:100%;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
p{
    margin-top: 18px;
    color:#555;
    font-size: 13px;
}
h5{
    font-size: 1.2em;
    letter-spacing: 3px;
}

@media all and (max-width:900px){
    p{
        font-size: 12px;
    }
}