@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');
.container3{
    height:65vh;
    width:100vw;
    background:#f2ece9;
    font-family: 'Mulish', sans-serif;
}

.heading-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height:30%;
    width:100%;
}
.heading{
    height:100%;
    width:50%;
    position: relative;
}
h5{
    position:absolute;
    font-weight: 900;
    letter-spacing: 3px;
    font-size: 1.2em;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    
}
.underline{
    height:1.5px;
    width:100px;
    background:#b40d1a;
    position: absolute;
    top:70%;
    left:50%;
    transform:translate(-50%,-50%);
    
}
.skill-list-container{
    height:60%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skills-list{
    height:100%;
    width:70%;
    background:#f2ece9;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: auto;
    grid-gap: 10px;
    top:0;
}
.skills-list >*{
    height:50px;
    background:#fff;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    color:#555;
    font-size: 13px;
}

@media all and (max-width:640px){
    .skills-list >p{
       font-size: 5px;
       height:40px;
    }
    .skills-list{
        height:100%;
        width:70%;
        background:#f2ece9;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row: auto;
        grid-gap: 10px;
        top:0;
    }
}